.is-register {
  h2 {
    font-size: 1em;
  }
  .form-content {
    form {
      .form-control {
        text-align: center;
      }
    }
  }
  .link-components {
    text-align: center !important;
  }
}

