.is-signup {
  h2 {
    font-size: 1em;
  }
  .devise-form-container {
    form {
      .form-control {
        text-align: center;
      }
    }
  }
  .link-components {
    text-align: center !important;
  }
}

