form fieldset {
  min-width: 100%;
}

form input.form-control,
form textarea.form-control {
  box-shadow: $input-box-shadow;
  font-size: 1.25em;
  padding: $grid-gutter-width/6 1.25rem;
  height: 2rem;

  @include input-placeholder() {
    color: $input-color-placeholder;
    text-transform: capitalize;
  }
}

form textarea.form-control {
  height: 7.5rem;
}

form input[type="checkbox"] {
  opacity: 0;

  ~ div {
    content: '';
    width: $grid-gutter-width/2;
    height: $grid-gutter-width/2;
    border: 1px solid $brand-primary;
    position: absolute;
    top: 7px;
  }

  &:checked ~ div:before {
    content: '\2713';
    font-size: .875em;
    position: absolute;
    top: -1px;
    color: $brand-primary;
  }
}

form .form-group.is-checkbox {
  position: relative;

  label {
    margin-left: $grid-gutter-width;
    text-transform: capitalize;
  }
}