form fieldset {
  min-width: 100%;
}

form label {
  color: $brand-golden;
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0;
}

form input.form-control,
form textarea.form-control {
  box-shadow: $input-box-shadow;
  font-size: 1.25em;
  padding: $grid-gutter-width/6 1.25rem;
  height: 2rem;

  @include input-placeholder() {
    color: $input-color-placeholder;
    text-transform: capitalize;
  }
}

form textarea.form-control {
  height: 7.5rem;
}