.activity-form-container {
  margin: 3rem 2.5rem;
  padding-bottom: $grid-gutter-width;

  .form-group {
    margin-bottom: 1.25rem;
  }

  button[type="submit"] {
    margin: $grid-gutter-width auto 1.25rem;
  }
}