.events-container {

}

.events-container .event-item {
  height: 15.875rem;
  width: $grid-gutter-width*10;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  .event-image {
    position: relative;
  }

  .event-image img {
    height: $grid-gutter-width*5;
    width: 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .event-image p {
    height: $grid-gutter-width;
    width: 100%;
    color: #fff;
    background-color: transparentize($brand-primary, 0.1);
    position: absolute;
    bottom: 0;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.375;
  }

  .event-info {
    display: table;
    height: 6.5rem;
    background-color: #fff;
    color: $brand-primary;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 1rem 0;
  }

  .event-info .event-info-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .event-info .event-date {
    width: 11.5rem;
    border-right: 1px solid map_get($brand-warm-grey, 'light');
    font-size: 2.25em;
  }

  .event-info .event-tickets {
    width: 7.25rem;
    font-size: 2.75em;
    line-height: 1.125;
  }

  .event-info .event-tickets small {
    color: map_get($brand-warm-grey, 'primary');
    font-size: .375em;
    display: block;
    line-height: 0;
    text-transform: uppercase;
  }
}