.organizer-container {
  margin-top: $grid-gutter-width;

  header {
    display: none;
    margin: 0 $grid-gutter-width/2 $grid-gutter-width/3;
    border-bottom: 1px solid map_get($brand-warm-grey, 'lighter');
    text-transform: uppercase;
    color: $brand-primary;
    font-size: 2em;
    letter-spacing: .25rem;
  }

  form {
    margin: 0 1.25rem;

    button {
      margin-top: $grid-gutter-width;
    }
  }


  @include media-breakpoint-up(md) {
    width: $grid-gutter-width*24;
    padding: $grid-gutter-width;
    margin: $grid-gutter-width auto 0;
    background-color: rgba(255, 255, 255, 0.5);

    header {
      display: block;
    }

    form {

      h2 {
        display: inline-block;
      }

      label {
        text-align: right;
        padding-right: $grid-gutter-width;
        width: 20%;
      }

      .form-control {
        display: inline-block;
        width: 75%
      }
    }
  }

  @include media-breakpoint-up(lg) {
    width: $grid-gutter-width*35;
  }
}